#given defaults
#run pip install -r requirements.txt #from inside project virtual environment
pytest
pylint
ipdb
jupyterlab
numpy==1.24.2
pandas==1.5.3
matplotlib
seaborn
scikit-learn
tensorflow
google.cloud
roboflow
Pillow
streamlit
streamlit_extras
requests
io
uvicorn
fastapi
gensim==4.3.0
opencv-python
python-multipart
